
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Add this in your global CSS file */
/* Hide scrollbar for all containers */
::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
.scrollbar-hide {
  scrollbar-width: none;
}
@keyframes spinner {
  to { transform: rotate(360deg); }
}

.spinner {
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-left-color: #000;
  border-radius: 50%;
  width: 1em; /* 16px */
  height: 1em; /* 16px */
  animation: spinner 1s linear infinite;
}
