
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .gradient-bottom {
    @apply before:absolute before:inset-0 before:w-full before:h-full;
    content: "";
    background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.7));
  }
}
.custom-gradient {
  background: linear-gradient(to bottom, transparent 20%, #000 80%);
}
/* Add this in your global CSS file */
/* Hide scrollbar for all containers */
::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
.scrollbar-hide {
  scrollbar-width: none;
}
@keyframes spinner {
  to { transform: rotate(360deg); }
}

.spinner {
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-left-color: #000;
  border-radius: 50%;
  width: 1em; /* 16px */
  height: 1em; /* 16px */
  animation: spinner 1s linear infinite;
}

.gradient-overlay {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 70%, transparent 100%);
}
.slick-slide {
  padding: 0 0; 
  padding-right: 10px;
}
.align-left .slick-track {
  margin-left: 0;
  margin-right: 0
}